#page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  margin-top: 100px;
}
#page-content {
  flex: 0 0 100%;
  max-width: 960px;
  display: block;
}
#aside-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-content {
}

@media only screen and (min-width: 640px) {
  #page-content {
    display: flex;
    flex-direction: row;
  }
  #aside-container {
    flex: 0 0 40%;
    padding-right: 30px;
  }
  #main-container {
    flex: 0 0 60%;
  }
}